################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JenkinsWebApplicationDemo/FileContentIndex/444d4550-d181-417d-9125-345533ba1548.vsidx
